{% extends "layouts/base.html" %}

{% block content %}
<div id="masterClassesAlert" class="alert alert-danger hidden"></div>

<div class="card">
  <div class="card-header border-0 pt-7">
    <h3 class="card-title m-0">Master Vehicle Classes</h3>
  </div>
  <form id="masterClassesForm">
    <div class="card-body pt-3">
      <div id="masterClassesGrid" class="row g-6"></div>
    </div>
    <div class="card-footer d-flex justify-content-end gap-3">
      <button type="button" id="reloadMasterClassesButton" class="btn btn-light">Reload</button>
      <button type="submit" id="saveMasterClassesButton" class="btn btn-primary">Save Master Vehicle Classes</button>
    </div>
  </form>
</div>
{% endblock %}

{% block page_scripts %}
<script src="/assets/master_classes.js"></script>
{% endblock %}
